name: Security Scan

on:
  workflow_call:
    inputs:
      scan-path:
        description: 'Project path name'
        required: true
        type: string

jobs:
  trivy-scan:
    name: Trivy Security Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Trivy (v0.61.1)
        run: |
          echo "游닌 Instalando Trivy v0.61.1..."
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin v0.61.1

      - name: Prepare Go modules
        run: |
          cd ${{ inputs.scan-path }}
          go mod tidy
          go mod download

      - name: Trivy - Vulnerabilities (go.mod + c칩digo)
        run: |
          echo "游댌 Escaneando dependencias y c칩digo fuente..."
          trivy fs --scan-go-mod --exit-code 1 --severity CRITICAL,HIGH ${{ inputs.scan-path }}

      - name: Trivy - Secret scan (informativo)
        run: |
          echo "游댏 Buscando secretos..."
          trivy fs --scanners secret --exit-code 0 --severity CRITICAL,HIGH,MEDIUM,LOW ${{ inputs.scan-path }}

      - name: Trivy - Config scan (informativo)
        run: |
          echo "丘뙖잺 Escaneo de configuraci칩n insegura..."
          trivy config --exit-code 0 --severity CRITICAL,HIGH,MEDIUM,LOW ${{ inputs.scan-path }}
